@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.card {
    @apply flex flex-col items-center justify-center shadow-lg rounded-md overflow-hidden cursor-pointer;
    height: 300px;
  }
  
  .card img {
    @apply w-full h-3/4 object-cover rounded-t-md;
  }
  
  .card-title {
    @apply text-center text-lg font-semibold mt-2;
  }
  
  .blank-card {
    @apply bg-lavender-blue-200 cursor-not-allowed;
  }

  .preview-container {
    max-width: full; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
  }  

  .input-placeholder::placeholder {
    color: #7a6543; /* Adjust this color */
    opacity: 1; /* Ensure full opacity */
  }

  .rabbit-hole-title {
    font-family: 'Parisienne', cursive;
    font-size: 3rem; /* Optional: Adjust the size to suit your design */
    color: #2e2e2e;  /* Optional: Set the text color (e.g., black) */
    text-align: center; /* Ensures the text is centered */
  }
  
  